NODE_ENV=test
PORT=3001
E2E_AUTH_ACCESS_TOKEN_SECRET="replace-with-at-least-32-random-characters"
E2E_DATABASE_URL="postgresql://test_user:replace-me@localhost:5432/ubiquity_test"
E2E_DIRECT_URL="postgresql://test_user:replace-me@localhost:5432/ubiquity_test"
